* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

/*****************************/
/****  Main layout styles ****/
/*****************************/

/* Style the header */
header {
    background-color: #123;
    line-height: 1px;
    padding: 10px;
    text-align: left;
    font-size: 35px;
    color: white;
}

/* Create three columns/boxes that floats next to each other */
.left_layout {
    float: left;
    width: 25%;
    height: 500px;
    background: #ccc;
    padding: 20px;
}

.main_layout {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #f1f1f1;
    height: 500px;
}

.right_layout {
    float: left;
    padding: 20px;
    width: 25%;
    background-color: #ccc;
    height: 500px;
}

/* Responsive layout - makes the three columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    .left_layout, .main_layout, .right_layout{
        width: 100%;
        height: 10%;
    }
}

/*****************************/
/*****************************/

/*****************************/
/****  Button list styles ****/
/*****************************/

.list_item_button {
    width : 100%;
    margin : 1px;

    background-color: #f1f1f1;
    border : 1px solid #123;
    border-radius : 4px;

    color : #123;
}

.list_item_button:hover {
    background-color: #123;
    color : #f1f1f1;
}

/*****************************/
/*****************************/

/*****************************/
/****  Scroll styles **** ****/
/*****************************/

.scroll_container {
    overflow: auto;
}

/*****************************/
/*****************************/