.list_item_button {
    width : 100%;
    margin : 1px;

    background-color: #f1f1f1;
    border : 1px solid #123;
    border-radius : 4px;

    color : #123;
}

.list_item_button:hover {
    background-color: #123;
    color : #f1f1f1;
}