* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f1f1f1;
}

/* Style the header */
header {
	background-color: #123;
	line-height: 1px;
	padding: 10px;
	text-align: left;
	font-size: 35px;
	color: white;
}

/* Create three columns/boxes that floats next to each other */
rooms {
	float: left;
	width: 25%;
	height: 500px;
	background: #ccc;
	padding: 20px;
}

room_view {
	float: left;
	padding: 20px;
	width: 50%;
	background-color: #f1f1f1;
	height: 500px;
}

users {
	float: left;
	padding: 20px;
	width: 25%;
	background-color: #ccc;
	height: 500px;
}

h3 {
	width : 100%;
	text-align: center;
}

/*hide room views by default*/
.room_display {
	display : none;
}

